.card {
  display: flex;
  flex-flow: column wrap;
  text-decoration: none;
}

.card:hover .card-title,
.card:focus .card-title,
.card:active .card-title {
  color: #ff1261;
}

.card-fig {
  margin: 0;
  position: relative;
  height: 240px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.symbol-comments {
  fill: white;
  height: 1em;
  width: 1em;
  padding-right: 3px;
}

.card-comments {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  display: flex;
  justify-content: center;
}

.card-title {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  margin: 5px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .card:first-child {
    grid-column: span 2;
  }
  .card:first-child .card-fig {
    height: 340px;
  }

  .card:nth-child(2) {
    grid-column: span 2;
  }

  .card:nth-child(2) .card-fig {
    height: 340px;
  }
}
